/* Colors
  White: #FFFFFA;
  Black: #040303;
  Yellow: #DCED31;
  Dark Green: #0CCE6B;
  Light Green: #7AE4AE;
  Dark Red: #EF2D56;
  Light Red: #F68CA2;
*/

body {
  font-family: helvetica;
  box-sizing: border-box;
  display: block;
  background-color: #040303;
}

div.wrapper {
  background-color: #040303;
}

div.app-header {
  position: fixed;
  top: 0;
  text-align: center;
  padding: 3 em;
  background-color: #040303;
  width: 100%;
}

div.app-header img {
  margin: 0 auto;
  padding: 50px;
}

#dash, #tips {
  background-color: #DCED31;
  width: 100%;
  padding: 300px;
}

div.list-existing-reviews {
  background-color: #040303;
  margin: 100px 20px 100px 20px;
}

div.review {
  background-color: #F68CA2;
  border: 5px solid #EF2D56;
  border-radius: 40px;
  padding: 10px;
}

div.content {
  font-style: italic;
}

div.score, div.new-reviews {
  background-color: #FFFFFA;
  width: 25%;
  margin: 10px auto;
  padding: 10px;
  display: inline-block;
}

div.footer {
  color: white;
  background-color: #040303;
  width: 100%;
  text-align: center;
  bottom: 0;
}